
.app{
  margin: 40px auto;
  max-width: 860px;
}
button{
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font: 1em bold;
  cursor: pointer;
  
}

button:hover{
  background: #c23866;
  color: #fff;
}

.card-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  
  margin-top: 40px;
  
}